body {
  padding: 10px;
  background-color: #a9a2a2;
}
* {
  color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
}
.bets_mode {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.wrapper {
  width: 250px;
}
.progress-bar {
  width: 100%;
  height: 19px;
  background-color: #e0e0e0;
  padding: 2px;
  border-radius: 15px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.progress-bar-fill {
  display: block;
  height: 15px;
  background-color: #659cef;
  border-radius: 15px;
  transition: width 500ms ease-in-out;
}
.container {
  width: 60%;
  margin: auto;
  height: 90vh;
  border-radius: 10px;
  background-color: rgb(16, 16, 69);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0 0 0 2px rgb(10, 10, 46),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.9);
  background-image: linear-gradient(black, rgb(64, 64, 72), #1c3b69);
}
.container > section {
  padding: 10px;
}
.container > header {
  padding: 10px;
}
.header_left > div {
  margin: 5px;
}
.header_right {
  display: flex;
  align-items: center;
}
.header_right > span {
  margin: 5px;
}
.player_health {
  display: flex;
  justify-content: space-between;
}
.player_health > .player_health_details {
  border: 1px solid grey;
  width: 10%;
  margin: 3px;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: #659cef;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0 0 0 2px rgb(16, 16, 69),
    0.3em 0.3em 1em rgba(255, 255, 255, 0.15);
  background-image: linear-gradient(180deg, #000, #133c7b);
  border-radius: 15px;
}
.player_health_details > span {
  margin: 5px;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}
.max_width_40_percent {
  max-width: 60%;
  border-radius: 10px;
  justify-content: center;
}
.game_begin {
  margin-top: 10px;
}

.joining_criteria {
  display: flex;
  justify-content: space-between;
}
.jc_left_section {
  display: flex;
  padding: 5px;
  border: 1px solid #143d7b;
  background-color: #143d7b;
  border-radius: 10px;
  width: 470px;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0 0 0 1px rgb(19, 61, 123),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.left {
  display: flex;
  align-items: center;
}
.left > span {
  margin: 5px;
}
.jc_right_section {
  display: flex;
  padding: 5px;
  border: 1px solid #071932;
  background-color: #071932;
  border-radius: 10px;
  width: 470px;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 -3em 3em rgba(12, 5, 109, 0.3), 0 0 0 1px rgb(7, 25, 50),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.jc_right_section > div {
  justify-content: space-around;
}
.right_left {
  display: flex;
  align-items: center;
}
.left_logo {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
}
.left_content {
  margin: 10px;
}
.left_content > span {
  display: block;
}
.right_content > span {
  float: inline-end;
}
.player_details {
  margin: 10px 0 10px 0;
}
.details {
  display: flex;
  justify-content: space-between;
  border: 2px solid #133c7b;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 80px;
  align-items: center;
  background-color: #133c7b;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0 0 0 2px rgb(10, 10, 46),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.9);
}
.player_content > span {
  margin: 5px;
  justify-content: space-between;
}
.strat_content {
  display: flex;
  align-items: center;
}
.strat_content > span {
  margin: 5px;
}
